.menu-view {
    -fx-spacing: 20;
    -fx-background-image: url("../images/the-drake-bg.jpeg");
    -fx-background-size: cover;
    -fx-pref-width: 800;
    -fx-pref-height: 600;
}

.menu-buttons {
    -fx-spacing: 10;
}

.menu-buttons > .button {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1B1F;
    -fx-background-color: #aaffff; /* light blue */

    -fx-background-radius: 6px;
    -fx-border-color: #66aaaa;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
}

/* hover: set background color to 88cccc */
.menu-buttons > .button:hover {
    -fx-background-color: #88cccc;
}

/* pressed: set background color to 66aaaa */
.menu-buttons > .button:pressed {
    -fx-background-color: #66aaaa;
}

/* label with some fancy font */
.title {
    -fx-font-family: "Old English Text MT";
    -fx-font-size: 5em;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1B1F;
}

.game-view {
    -fx-spacing: 20;
}

.troops-view {
    -fx-spacing: 20px;
    -fx-background: #ff0000; /* red */
    -fx-alignment: center;
}

.game-board {
    -fx-vgap: 8px;
    -fx-hgap: 8px;
    -fx-alignment: center;
    -fx-padding: 12px;
}

.board-tile {
    -fx-background-color: #d5d5d5;
    -fx-pref-width: 108px;
    -fx-pref-height: 108px;
    -fx-min-width: 108px;
    -fx-min-height: 108px;
    -fx-alignment: center;
}

.tile-image {
    -fx-alignment: center;
}

.stack {
    -fx-padding: 10px;
    -fx-spacing: 8px;
    -fx-pref-height: 108px;
    -fx-pref-width: 770px;
    /*-fx-alignment: center;
*/}

.selected {
    -fx-border-color: #000000; /* black */
    -fx-border-width: 3px;
}

/*.stack-highlighted {
    -fx-border-color: #800080; *//* purple *//*
    -fx-border-width: 6px;
}*/

.state-view {
    -fx-padding: 10px;
}

.state-label {
    -fx-font-size: 2.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1B1F;
}

.label-pane {
    -fx-padding: 10px;
    -fx-background-color: #00ffff; /* aqua */
    -fx-alignment: center;
}

.game-over-overlay {
    -fx-font-size: 11em;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1B1F;
}